body {
    padding: 50px;
    font-family: American Typewriter, serif;
}

#header {
    text-align: center;
}

.name {
    color: #D3D3D3;
}

.msu {
    color: #98FB98;
}

#subtitles {
    color: #DDA0DD;
}

p {
    text-align: left;
    color: #D3D3D3;
}

.photo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}